<div class="row bg-white pt-2 top-row">
  <div class="col">
    <h6>Latest Reviews & Rating Posted</h6>
  </div>
  <div class="col-5 col-md-3 text-center mb-2">
    <button class="btn btn-sm btn-dark">Customer</button>
    <button class="btn btn-sm btn-dark">Job Reviews</button>
  </div>
</div>
<div class="mat-elevation-z8 shadow-none table">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container class="" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Customers<img class="heading-icon" src="/assets/sort (3).svg" alt="" /></th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex">
          <img
            class="icon mx-2 justify-content-center align-self-center"
            src="..\..\../assets/Ellipse 5067.png"
            alt=""
          />
          {{ element.name }}
        </div>
      </td>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="star">
      <th mat-header-cell *matHeaderCellDef>Rating<img class="heading-icon" src="/assets/sort (3).svg" alt="" /></th>
      <td mat-cell *matCellDef="let element">
        <img src="..\..\../assets/Group 86417.svg" alt="" />
      </td>
    </ng-container>

    <!-- Review Column -->
    <ng-container matColumnDef="review">
      <th mat-header-cell *matHeaderCellDef>
        Job Reviews<img class="heading-icon" src="/assets/sort (3).svg" alt="" />
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.review }}
        <button class="btn text-warning">See more</button>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Job<img class="heading-icon" src="/assets/sort (3).svg" alt="" /></th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date<img class="heading-icon" src="/assets/sort (3).svg" alt="" /></th>
      <td mat-cell *matCellDef="let element">02/04/022</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    style="margin-bottom: 8em"
    [pageSizeOptions]="[10, 15, 20]"
    showFirstLastButtons
    #paginator
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
