<div style="margin-top: 5rem">
  <div class="container">
    <h3 class="pb-3">Customer Management</h3>
    <mat-card class="shadow-sm mb-5">
      <form>
        <h6>Edit Customer</h6>
        <div class="row">
          <div class="col-12 col-md-3">
            <label for="f-name" class="text-dark h6">First Name</label><br />
            <input type="text" class="form-control" name="f-name" placeholder="Elton" />
          </div>
          <div class="col-12 col-md-3">
            <label for="l-name" class="text-dark h6">Last Name</label><br />
            <input type="text" class="form-control" name="l-name" placeholder="John" />
          </div>
          <div class="col-12 col-md-6">
            <label for="email" class="text-dark h6">Email</label><br />
            <input type="text" class="form-control" name="email" placeholder="Eltonjohn233@gmail.com" />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md">
            <label for="phone" class="text-dark h6">Contact Number</label><br />
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><mat-icon>phone</mat-icon></div>
              </div>
              <input type="number" class="form-control" name="phone" placeholder="+61 36337 37760 3451" />
            </div>
          </div>
          <div class="col-12 col-md">
            <label for="password" class="text-dark h6">Password</label><br />
            <input type="password" class="form-control" name="password" placeholder="rajjo@101" />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="address" class="text-dark h6">Address</label><br />
            <input type="address" class="form-control" name="Address" placeholder="France santra vandon" />
          </div>
        </div>
        <br />
        <button class="btn btn-dark float-right px-3">Update</button>
        <br /><br />
      </form>
    </mat-card>
  </div>
</div>
