.card {
  border: none;
  font: normal normal 600 16px/20px Source Sans Pro;
  color: #0d1111;
}

Input {
  font: normal normal 600 15px/20px Source Sans Pro;
  color: #0d1111;
}

.card-header,
.card-footer {
  background: #ffffff;
}

.profile {
  width: 70px;
}
