<div style="margin-top: 5rem">
  <div class="container-fluid">
    <h2 class="mb-3">Dashboard</h2>
    <div class="row">
      <div class="col-12 col-sm">
        <mat-card class="shadow-none mb-xs-3">
          <div class="row">
            <div class="col">
              <h1>$1,610</h1>
              <p>Total Customers</p>
            </div>
            <div class="col-2 col-sm-3 col-md-4">
              <img src="..\..\../assets/Group 82126.svg" alt="" />
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-xs-2 col-md">
        <mat-card class="shadow-none">
          <div class="row">
            <div class="col">
              <h1>$1,610</h1>
              <p>Total Transaction Amount</p>
            </div>
            <div class="col-2 col-sm-3 col-md-4">
              <img src="..\..\../assets/Group 86274.svg" alt="" />
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-xs-2 col-md">
        <mat-card class="shadow-none">
          <div class="row">
            <div class="col">
              <h1>$1,610</h1>
              <p>Total Commission Earned</p>
            </div>
            <div class="col-2 col-sm-3 col-md-4">
              <img src="..\..\../assets/Group 82126.svg" alt="" />
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <mat-card class="shadow-none" style="height: 30em; margin-top: 1.5em">
      <h6>Total Bookings Made On The Platform</h6>
      <app-chart></app-chart>
    </mat-card>
    <div class="row my-4">
      <div class="col">
        <app-table></app-table>
      </div>
      <div class="col">
        <app-table></app-table>
      </div>
    </div>
    <app-data></app-data>
  </div>
</div>
