<div style="margin-top: 5rem">
  <div class="row mx-3 d-flex justify-content-center align-items-center">
    <div class="col">
      <h4 class="mb-3">Task Management</h4>
    </div>
  </div>
  <div
    class="row mx-3 bg-white border-bottom d-flex justify-content-center align-items-center"
    style="height: 4em; margin-left: 0.5em"
  >
    <div class="col">
      <h6>Task Management</h6>
    </div>
    <div class="col-7 col-md-4 d-flex justify-content-center align-items-center">
      Search
      <mat-form-field class="mt-4 mx-md-2" appearance="outline">
        <input matInput />
      </mat-form-field>
    </div>
  </div>
  <mat-card class="shadow-none mx-3 mb-5">
    <mat-card class="mb-4 shadow-sm">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 col-md-1">
          <img class="float-right" src="assets/Ellipse 5067.png" alt="" />
        </div>
        <div class="col col-md d-flex align-items-center text-warning main-heading">
          UI Designed and Frontend Development
        </div>
        <div class="col-12 col-md-2 d-flex text-muted justify-content-center mr-4">
          <mat-icon class="pr-3 icon">schedule</mat-icon>
          <small class="mt-1">Posted 5m Ago</small>
        </div>
      </div>
      <div class="row mx-md-5 pb-3">
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">monetization_on</mat-icon>Budget</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">$1500</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pin_drop</mat-icon>Location</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">San Francisco</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">business_center</mat-icon>Job</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">On Site</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Deadline</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">March 14 To 23,24</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Id</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">317280</small>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-end align-items-end">
          <button class="btn btn-sm btn-warning">Assigned</button>
        </div>
      </div>
      <div class="row mx-md-5">
        <div class="col-12">
          <h5 class="heading-text">Description</h5>
        </div>
        <div class="col-sm">
          <p class="paragraph-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laboriosam incidunt modi!
            <button class="btn p-0 text-warning">...see more</button>
          </p>
        </div>
      </div>
    </mat-card>

    <mat-card class="mb-4 shadow-sm">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 col-md-1">
          <img class="float-right" src="assets/Ellipse 5067.png" alt="" />
        </div>
        <div class="col col-md d-flex align-items-center text-warning main-heading">
          UI Designed and Frontend Development
        </div>
        <div class="col-12 col-md-2 d-flex text-muted justify-content-center mr-4">
          <mat-icon class="pr-3 icon">schedule</mat-icon>
          <small class="mt-1">Posted 5m Ago</small>
        </div>
      </div>
      <div class="row mx-md-5 pb-3">
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">monetization_on</mat-icon>Budget</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">$1500</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pin_drop</mat-icon>Location</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">San Francisco</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">business_center</mat-icon>Job</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">On Site</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Deadline</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">March 14 To 23,24</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Id</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">317280</small>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-end align-items-end">
          <button class="btn btn-sm btn-danger">In progress</button>
        </div>
      </div>
      <div class="row mx-md-5">
        <div class="col-12">
          <h5 class="heading-text">Description</h5>
        </div>
        <div class="col-sm">
          <p class="paragraph-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laboriosam incidunt modi!
            <button class="btn p-0 text-warning">...see more</button>
          </p>
        </div>
      </div>
    </mat-card>

    <mat-card class="mb-4 shadow-sm">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 col-md-1">
          <img class="float-right" src="assets/Ellipse 5067.png" alt="" />
        </div>
        <div class="col col-md d-flex align-items-center text-warning main-heading">
          UI Designed and Frontend Development
        </div>
        <div class="col-12 col-md-2 d-flex text-muted justify-content-center mr-4">
          <mat-icon class="pr-3 icon">schedule</mat-icon>
          <small class="mt-1">Posted 5m Ago</small>
        </div>
      </div>
      <div class="row mx-md-5 pb-3">
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">monetization_on</mat-icon>Budget</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">$1500</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pin_drop</mat-icon>Location</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">San Francisco</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">business_center</mat-icon>Job</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">On Site</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Deadline</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">March 14 To 23,24</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Id</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">317280</small>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-end align-items-end">
          <button class="btn btn-sm btn-success">Complete</button>
        </div>
      </div>
      <div class="row mx-md-5">
        <div class="col-12">
          <h5 class="heading-text">Description</h5>
        </div>
        <div class="col-sm">
          <p class="paragraph-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laboriosam incidunt modi!
            <button class="btn p-0 text-warning">...see more</button>
          </p>
        </div>
      </div>
    </mat-card>

    <mat-card class="mb-4 shadow-sm">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 col-md-1">
          <img class="float-right" src="assets/Ellipse 5067.png" alt="" />
        </div>
        <div class="col col-md d-flex align-items-center text-warning main-heading">
          UI Designed and Frontend Development
        </div>
        <div class="col-12 col-md-2 d-flex text-muted justify-content-center mr-4">
          <mat-icon class="pr-3 icon">schedule</mat-icon>
          <small class="mt-1">Posted 5m Ago</small>
        </div>
      </div>
      <div class="row mx-md-5 pb-3">
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">monetization_on</mat-icon>Budget</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">$1500</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pin_drop</mat-icon>Location</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">San Francisco</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">business_center</mat-icon>Job</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">On Site</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Deadline</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">March 14 To 23,24</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Id</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">317280</small>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-end align-items-end">
          <button class="btn btn-sm btn-dark">Withdrawn</button>
        </div>
      </div>
      <div class="row mx-md-5">
        <div class="col-12">
          <h5 class="heading-text">Description</h5>
        </div>
        <div class="col-sm">
          <p class="paragraph-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laboriosam incidunt modi!
            <button class="btn p-0 text-warning">...see more</button>
          </p>
        </div>
      </div>
    </mat-card>

    <mat-card class="mb-4 shadow-sm">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 col-md-1">
          <img class="float-right" src="assets/Ellipse 5067.png" alt="" />
        </div>
        <div class="col col-md d-flex align-items-center text-warning main-heading">
          UI Designed and Frontend Development
        </div>
        <div class="col-12 col-md-2 d-flex text-muted justify-content-center mr-4">
          <mat-icon class="pr-3 icon">schedule</mat-icon>
          <small class="mt-1">Posted 5m Ago</small>
        </div>
      </div>
      <div class="row mx-md-5 pb-3">
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">monetization_on</mat-icon>Budget</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">$1500</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pin_drop</mat-icon>Location</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">San Francisco</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">business_center</mat-icon>Job</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">On Site</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Deadline</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">March 14 To 23,24</small>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="row">
            <div class="col-12">
              <div class="d-flex heading-text"><mat-icon class="mr-1 icon">pending_actions</mat-icon>Task Id</div>
            </div>
            <div class="col ml-4">
              <small class="paragraph-text">317280</small>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-end align-items-end">
          <button class="btn btn-sm btn-success">Complete</button>
        </div>
      </div>
      <div class="row mx-md-5">
        <div class="col-12">
          <h5 class="heading-text">Description</h5>
        </div>
        <div class="col-sm">
          <p class="paragraph-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laboriosam incidunt modi!
            <button class="btn p-0 text-warning">...see more</button>
          </p>
        </div>
      </div>
    </mat-card>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card>
</div>
